# Pandas is a library that helps you work with data as tables


<table><tr>
<td> <img src="../data/images/pandas.png" alt="pandas library" style="width: 400px;"/> </td>
<td> <img src="../data/images/pandas1.png" alt="pandas library alternative" style="width: 400px;"/></td>
</tr></table>



## Quick recap on 'Library'
- A library allows you to reuse code someone else has kindly written for us
- The concept of library ecosystem is one of the reasons Python is so popular today
- Some libraries are incuded in Python by default, others can be installed via `pip` and you can also make your own!

In [3]:
## [Q1] What will the cell below do?

import random
random.randint(1,100)

80

# Introduction to Pandas

### `Pandas` is named after __Panel Data__ which is a concept about __multidimensional matricies__. 

<img src="data/images/wes.jpg" style="width: 200px;"/>

Pandas was originally written by [Wes McKinney](https://en.wikipedia.org/wiki/Wes_McKinney) who was working at a hedge fund and needed a tool to better deal with the time-series data he was working with day to day. It's a great story for a few reasons:

1. It's a great example of an open source project going far and beyond what the creator anticipated.
2. He's admitted that when he started the project he wasn't very good at Python. 
3. This amazing tool used by thousands of people was made by 'just some guy'.

## How to use Pandas


ALWAYS REMEMBER: **NO ONE WAS BORN KNOWING ALL OF THIS**

Everyone was a beginner once (even Wes McKinney) and help is available. The answer to pretty much every Python / Pandas question WILL be online, getting good at "Googling" is arguably the best skill you can have as a programmer.

- The [official documentation](https://pandas.pydata.org/pandas-docs/stable/) is great

### To start using Pandas you need to import it

- The code below is very much convention, you don't need to do the `pd` part - but most end up doing so for ease when typing. 
- Programmers are lazy, remember that's why we care about 'efficiency' - less actual work.

In [10]:
import pandas # you can do this and it's totally fine

In [11]:
import pandas as pd # most people do this to avoid typing

In [ ]:
pd. #Press tab to see autocomplete

# The world runs on Excel

- It's on everyones computer
- It's not going anywhere
- It's in use everywhere from small businesses to Nuclear power plants

### - Pandas can make our life easy, because it has lots of fancy features, which allow us to work with Excel spreadsheets and many more!

# Opening a Spreadsheet in Pandas is simple...

## [Q2] What do you think `pd.DataFrame.head()` does?
 Let's try it together

In [5]:
import pandas as pd
excel_df = pd.read_excel('../data/movies.xls', sheet_name='1900s')
excel_df.head()

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71.0,8.0

## [Q3] How do you think we could preview the last 10 rows?

# How to filter columns in Pandas

- There are a couple of ways to do this
- The simplest way is to pass a list of columns to the DataFrame within square brackets `[]`
- This is very similar to what you've seen with `List` objects e.g. `[1,2,3,4]`


`data_frame[[col1, col2, col3 ...]]`

This looks a little funny but the two sets of square brackets are doing different things.
1. The first set (outermost) are saying: 'Please provide me with a sequence of column names'
2. The second (innermost) set are simply an explicit set of columns to select

Run the cell below to select to see it in action

In [10]:
excel_df[['Title', 'Year']].sample(n=5)

                    Title  Year
555   Dances with Wolves   1990
1177     American Beauty   1999
1079            Holy Man   1998
424     The Color Purple   1985
451     The Golden Child   1986

In [13]:
# It might help to see that the code below is functionally identical...

columns_to_select = ['Title', 'Year']
excel_df[columns_to_select].sample(n=5)

                       Title  Year
1057  Chairman of the Board   1998
1190   Being John Malkovich   1999
498      Dangerous Liaisons   1988
1292   The Astronaut's Wife   1999
1102         One True Thing   1998

## [Q4] Filter the table to just the following columns and show the first 5 rows
```python
['Title', 'Year', 'Genres', 'Language', 'Country', 'Content Rating', 'Budget', 'IMDB Score']
```
- Note: You must be explicit, misspelling will give you a `KeyError`
- Save the results in the variable `test_df`

In [15]:
test_df = excel_df[['Title', 'Year', 'Genres', 'Language', 'Country', 'Content Rating', 'Budget', 'IMDB Score']]

# How to filter rows in Pandas

- If you run the cell below you will see that the selecting of a single column, not a list of columns, looks different...
- This is because one column is actually called a `Series` and you can think about it like a vertical list
- When you break it down, a DataFrame is just a group of `Series` columns behind the scenes

In [16]:
test_df

,Title,Year,Genres,Language,Country,Content Rating,Budget,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,385907.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,100000.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,245000.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,6000000.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,NaN,8.0
...,...,...,...,...,...,...,...,...
1333,Twin Falls Idaho,1999,Drama,English,USA,R,500000.0,7.3
1334,Universal Soldier: The Return,1999,Action|Sci-Fi,English,USA,R,24000000.0,4.1
1335,Varsity Blues,1999,Comedy|Drama|Romance|Sport,English,USA,R,16000000.0,6.4
1336,Wild Wild West,1999,Action|Comedy|Sci-Fi|Western,English,USA,PG-13,170000000.0,4.8
1337,Wing Commander,1999,Action|Adventure|Sci-Fi,English,USA,PG-13,30000000.0,4.1

In [17]:
test_df['Year']

0       1916
1       1920
2       1925
3       1927
4       1929
        ...
1333    1999
1334    1999
1335    1999
1336    1999
1337    1999
Name: Year, Length: 1338, dtype: int64

- When you do a comparison against a `Series`, Pandas will compare every item and return `True` or `False` against every row

In [18]:
test_df['Year'] == 1920

0       False
1        True
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Name: Year, Length: 1338, dtype: bool

- When you put this within the square brackets of a DataFrame, Pandas will filter to the rows which were `True`

## [Q5] Filter the `test_df` to rows where the IMDB Score is greater than 5

## [Q6] Filter the `test_df` to films from the USA

In [23]:
# another cool example 

# reset test_df first
test_df = excel_df[['Title', 'Year', 'Genres', 'Language', 'Country', 'Content Rating', 'Budget', 'IMDB Score']]

print(test_df["Country"])

condition_1 = (test_df['Country'] == 'USA')
condition_2 = (test_df['Country'] == 'UK')
condition_3 = (test_df['Country'] == 'Germany')

test_df= condition_1 | condition_2

print(test_df)

0           USA
1           USA
2           USA
3       Germany
4       Germany
         ...
1333        USA
1334        USA
1335        USA
1336        USA
1337        USA
Name: Country, Length: 1338, dtype: object
0        True
1        True
2        True
3       False
4       False
        ...
1333     True
1334     True
1335     True
1336     True
1337     True
Name: Country, Length: 1338, dtype: bool

## You can use the following operators to combine conditions:
- `&` to AND conditions together, e.g. The can was GREEN and CLOSED 
- `|` to OR conditions together, e.g. The person was from England or France (either is fine)
- `~` to NEGATE any condition, e.g. The person was not from London
- It's also useful to put conditions in brackets `(`to make sure things working in the right order`)`

For example you could filter a `DataFrame` like so:

`df[(df['age'] >= 18) & (df['height'] < 200)]`

In [26]:
# This one is a little harder...
## [Q7] Filter the test_df to films which were made in the 1920s

# Reset dataframe

test_df = excel_df[['Title', 'Year', 'Genres', 'Language', 'Country', 'Content Rating', 'Budget', 'IMDB Score']]


test_df[(test_df['Year'] >= 1920) & (test_df['Year'] <= 1929)]

,Title,Year,Genres,Language,Country,Content Rating,Budget,IMDB Score
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,100000.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,245000.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,6000000.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,NaN,8.0
5,The Broadway Melody,1929,Musical|Romance,English,USA,Passed,379000.0,6.3

## Getting a sense of the data you have to work with
If you ever want to just get a numeric sense of the data in your `DataFrame` the `describe()` function is built for you!

In [27]:
test_df.describe()

              Year        Budget   IMDB Score
count  1338.000000  1.281000e+03  1338.000000
mean   1987.289985  2.712064e+07     6.702167
std      14.124870  8.466937e+07     1.066497
min    1916.000000  7.000000e+03     2.300000
25%    1982.000000  4.000000e+06     6.100000
50%    1993.000000  1.400000e+07     6.800000
75%    1997.000000  3.300000e+07     7.400000
max    1999.000000  2.400000e+09     9.300000

# Let's take a second to recap

What you've learnt so far:
- Pandas is a library that comes with lots of built-in tools for working with data
- It provides several ways of previewing the data you are working with
- You can filter columns by passing a sequence of column names
- You can filter rows by applying conditions

In [1]:
# If we filter the original data to the following set we can see we are left with 44 rows and 25 columns

first_half_century_df = excel_df[excel_df.Year < 1950]
first_half_century_df.shape

NameError: name 'excel_df' is not defined

## [Q8] What was the mean budget of movies produced before 1950

- With the filtered `first_half_century_df`, work out the mean budget 
> (Hint: Use the Budget column itself)

In [1]:
excel_df.columns

budget = first_half_century_df['Budget']

format(budget.mean(), ',')

NameError: name 'excel_df' is not defined

## [Q9] What was the minimum budget of movies produced before 1950

In [37]:
budget.min()

100000.0

## [Q10] What was the maximum budget of movies produced before 1950

## Let's have a look at how we can write csv files with Pandas!


<img src="data/images/apple-stock.jpg" style="width: 200px;"/>

 - We are going to use a finance API to fetch stock prices for Apple (from internet)
 - Then we are going to write fetched data to a CSV
 - Finally, we are goin to learn how to read a CSV file.

## Datareader 


<img src="data/images/datareader.jpg" style="width: 500px;"/>


- The Pandas datareader is a sub package that allows one to create a dataframe from various IN-BUILT internet datasources
- We can fetch historical stock prices, quotes etc from various world exchanges without specifically going to their urls. 

Heres is  list of in-built datareaders: https://pandas-datareader.readthedocs.io/en/latest/readers/index.html

In [45]:
import pandas_datareader as pdr


# Try this example, BUT Yahoo Finance has known bugs, so it may not work (their end, theif fault), 
# so we may need to try option 2

import datetime 
aapl = pdr.get_data_yahoo('AAPL', 
                          start=datetime.datetime(2020, 10, 1), 
                          end=datetime.datetime(2021, 7, 1))
print(aapl)

                  High         Low        Open       Close       Volume  \
Date
2020-10-01  117.720001  115.830002  117.639999  116.790001  116120400.0
2020-10-02  115.370003  112.220001  112.889999  113.019997  144712000.0
2020-10-05  116.650002  113.550003  113.910004  116.500000  106243800.0
2020-10-06  116.120003  112.250000  115.699997  113.160004  161498200.0
2020-10-07  115.550003  114.129997  114.620003  115.080002   96849000.0
...                ...         ...         ...         ...          ...
2021-06-25  133.889999  132.809998  133.460007  133.110001   70783700.0
2021-06-28  135.250000  133.350006  133.410004  134.779999   62111300.0
2021-06-29  136.490005  134.350006  134.800003  136.330002   64556100.0
2021-06-30  137.410004  135.869995  136.169998  136.960007   63261400.0
2021-07-01  137.330002  135.759995  136.600006  137.270004   52485800.0

             Adj Close
Date
2020-10-01  115.874504
2020-10-02  112.134064
2020-10-05  115.586784
2020-10-06  112.272972
2020-10-07  114.177917
...                ...
2021-06-25  132.717178
2021-06-28  134.382233
2021-06-29  135.927658
2021-06-30  136.555817
2021-07-01  136.864899

[189 rows x 6 columns]

In [46]:
# Alternatively we need to use Tiingo datareader. 
# Please create a free account to get free token here: https://api.tiingo.com/ (click sign up for free account)

import pandas_datareader as pdr


api_key='88e4c1e8c4d1d2aede66b18385fd08e7dcb14ec7' # <your OWN API token aka key goes here>

start="2020-1-1"
end="2021-7-1"

df = pdr.tiingo.TiingoDailyReader('AAPL', start=start, end=end, api_key=api_key)


aapl = df.read()

aapl

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas_datareader/tiingo.py:234: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  return pd.concat(dfs, self._concat_axis)

                                   close     high     low    open    volume  \
symbol date
AAPL   2020-01-02 00:00:00+00:00  300.35  300.600  295.19  296.24  33911864
       2020-01-03 00:00:00+00:00  297.43  300.580  296.50  297.15  36633878
       2020-01-06 00:00:00+00:00  299.80  299.960  292.75  293.79  29644644
       2020-01-07 00:00:00+00:00  298.39  300.900  297.48  299.84  27877655
       2020-01-08 00:00:00+00:00  303.19  304.440  297.16  297.16  33090946
...                                  ...      ...     ...     ...       ...
       2021-06-25 00:00:00+00:00  133.11  133.890  132.81  133.46  70783746
       2021-06-28 00:00:00+00:00  134.78  135.245  133.35  133.41  62111303
       2021-06-29 00:00:00+00:00  136.33  136.490  134.35  134.80  64556081
       2021-06-30 00:00:00+00:00  136.96  137.410  135.87  136.17  63261393
       2021-07-01 00:00:00+00:00  137.27  137.330  135.76  136.60  52485781

                                    adjClose     adjHigh      adjLow  \
symbol date
AAPL   2020-01-02 00:00:00+00:00   73.987632   74.049217   72.716528
       2020-01-03 00:00:00+00:00   73.268325   74.044290   73.039231
       2020-01-06 00:00:00+00:00   73.852146   73.891560   72.115463
       2020-01-07 00:00:00+00:00   73.504810   74.123118   73.280642
       2020-01-08 00:00:00+00:00   74.687232   74.995155   73.201814
...                                      ...         ...         ...
       2021-06-25 00:00:00+00:00  132.716912  133.494609  132.417798
       2021-06-28 00:00:00+00:00  134.381980  134.845607  132.956203
       2021-06-29 00:00:00+00:00  135.927403  136.086931  133.953250
       2021-06-30 00:00:00+00:00  136.555543  137.004214  135.468762
       2021-07-01 00:00:00+00:00  136.864627  136.924450  135.359086

                                     adjOpen  adjVolume  divCash  splitFactor
symbol date
AAPL   2020-01-02 00:00:00+00:00   72.975183  135647456      0.0          1.0
       2020-01-03 00:00:00+00:00   73.199350  146535512      0.0          1.0
       2020-01-06 00:00:00+00:00   72.371655  118578576      0.0          1.0
       2020-01-07 00:00:00+00:00   73.862000  111510620      0.0          1.0
       2020-01-08 00:00:00+00:00   73.201814  132363784      0.0          1.0
...                                      ...        ...      ...          ...
       2021-06-25 00:00:00+00:00  133.065879   70783746      0.0          1.0
       2021-06-28 00:00:00+00:00  133.016026   62111303      0.0          1.0
       2021-06-29 00:00:00+00:00  134.401921   64556081      0.0          1.0
       2021-06-30 00:00:00+00:00  135.767876   63261393      0.0          1.0
       2021-07-01 00:00:00+00:00  136.196606   52485781      0.0          1.0

[378 rows x 12 columns]

In [52]:
# Great! Now let's write the data we got from this FINANCE API to a new CSV file

import pandas as pd

aapl.to_csv('../data/aapl_historical.csv',  date_format='%Y-%m-%d') # your fle paths and file name

# let's read the file that we have just written
saved_df = pd.read_csv('../data/aapl_historical.csv', header=0, index_col='date', parse_dates=True)

saved_df

,symbol,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
date,,,,,,,,,,,,,
2020-01-02,AAPL,300.35,300.600,295.19,296.24,33911864,73.987632,74.049217,72.716528,72.975183,135647456,0.0,1.0
2020-01-03,AAPL,297.43,300.580,296.50,297.15,36633878,73.268325,74.044290,73.039231,73.199350,146535512,0.0,1.0
2020-01-06,AAPL,299.80,299.960,292.75,293.79,29644644,73.852146,73.891560,72.115463,72.371655,118578576,0.0,1.0
2020-01-07,AAPL,298.39,300.900,297.48,299.84,27877655,73.504810,74.123118,73.280642,73.862000,111510620,0.0,1.0
2020-01-08,AAPL,303.19,304.440,297.16,297.16,33090946,74.687232,74.995155,73.201814,73.201814,132363784,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-25,AAPL,133.11,133.890,132.81,133.46,70783746,132.716912,133.494609,132.417798,133.065879,70783746,0.0,1.0
2021-06-28,AAPL,134.78,135.245,133.35,133.41,62111303,134.381980,134.845607,132.956203,133.016026,62111303,0.0,1.0
2021-06-29,AAPL,136.33,136.490,134.35,134.80,64556081,135.927403,136.086931,133.953250,134.401921,64556081,0.0,1.0
2021-06-30,AAPL,136.96,137.410,135.87,136.17,63261393,136.555543,137.004214,135.468762,135.767876,63261393,0.0,1.0
2021-07-01,AAPL,137.27,137.330,135.76,136.60,52485781,136.864627,136.924450,135.359086,136.196606,52485781,0.0,1.0